.hideFileInput {
  display: none;
}
.fileButtonInput {
  align-self: center;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  width: 6rem;
  height: 2rem;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border: 2px solid #152847;
  color: #ba4d55ff;

  &:hover {
    cursor: pointer;
    background-color: #e4e4e4;
    box-shadow: 1px 1px 1px rgb(143, 143, 143);
  }
  @media screen and (min-width: 768px) {
    height: 3rem;
    width: 10rem;
  }
}
.fileButtonInput .fileIcon {
  align-self: center;
  @media screen and(min-width: 768px) {
    font-size: 35px;
  }
}
.fileButtonInputSmall {
  align-self: center;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  width: 6rem;
  height: 2rem;
  margin: 0.5rem 0 1rem 0;
  background-color: #152847;
  border: 2px solid #fff;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #e4e4e4;
    box-shadow: 1px 1px 1px rgb(143, 143, 143);
  }
  @media screen and (min-width: 768px) {
    height: 2rem;
    width: 6rem;
  }
}
