.mainWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e4e4e4;
  background-image: url('https://www.transparenttextures.com/patterns/retina-wood.png');
}
.welcomeMsg {
  display: none;
  @media screen and (min-width: 768px) {
    width: 100%;
    border-bottom: 1px solid rgba(24, 43, 73, 0.521);
    display: flex;
    justify-content: center;
  }
}
.welcomeMsg h1 {
  display: flex;
  position: relative;
  width: fit-content;
  text-align: center;
}
.panels {
  display: flex;
  justify-content: center;
}
.leftPanel,
.rightPanel {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 18%;
    min-height: 100vh;
  }
}
.centralPanel {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 64%;
  }
}
.leftPanel {
  border-right: 1px solid rgba(24, 43, 73, 0.521);
}
.rightPanel {
  border-left: 1px solid rgba(24, 43, 73, 0.521);
}
