.commentContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
}
.commentContent {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
  white-space: pre-wrap;
}
.infoIcons {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  align-items: center;
  background-color: #e4e4e4;
}
.infoCommentPoster {
  display: flex;
  font-size: 14px;
  align-items: center;
}
.infoCommentPoster .usernameLink {
  margin-left: 0.3rem;
}
.commentIcons {
  display: flex;
}
.commentIcons .invisibleButton {
  color: #000;
  align-items: center;
  display: flex;
}
.commentIcons .commentDeleteIcon {
  &:hover {
    cursor: pointer;
    color: rgb(250, 17, 17);
  }
}
.commentIcons .commentEditIcon {
  &:hover {
    cursor: pointer;
    color: rgb(2, 190, 65);
  }
}

.commentIcons .sendIcon {
  &:hover {
    cursor: pointer;
    color: rgb(2, 190, 65);
  }
}
.editContent {
  resize: none;
}
